node_modules
dist
firebase-dist
server_dist
.expo
.git
*.log
*.zip
*.tar.gz
design-ref
attached_assets
uxpilot-shop-design
.eas-tmp
.local
**/*.html
uploads
android
ios
.cache
.github
components/attached_assets
components/customer_assets
public/download
public/customer_assets
static-build
crane
mobix-diagnostics-y
uxpilot-shop-code
__tests__
